<form method="post" action="{{ path('app_type_lieux_delete', {'idTypeLieu': type_lieux.idTypeLieu}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_lieux.idTypeLieu) }}">
    <button class="btn">Supprimer</button>
</form>
