<form method="post" action="{{ path('app_achats_delete', {'idAchat': achat.idAchat}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat.idAchat) }}">
    <button class="btn">Supprimer</button>
</form>
