<form method="post" action="{{ path('app_produits_delete', {'idProd': produit.idProd}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProd) }}">
    <button class="btn">Supprimer</button>
</form>
