<form method="post" action="{{ path('app_categories_delete', {'idCat': category.idCat}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.idCat) }}">
    <button class="btn">Supprimer</button>
</form>
