{% extends "base.html.twig" %}

{% block body %}

<h1>

	Bienvenue sur le Back-Office!
	
</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem soluta at dolorum ullam voluptas? Voluptates repudiandae, iusto aspernatur, perspiciatis vel ut quae, obcaecati quaerat nobis illum nemo minus ad possimus.</p>
<p>Quaerat doloremque architecto aspernatur earum, saepe sapiente amet quia consequatur, exercitationem ipsum fugit! Laudantium beatae molestias quisquam ullam, inventore in minus praesentium, hic recusandae quaerat corrupti dolor eligendi non repellendus!</p>

{% endblock %}
