<form method="post" action="{{ path('app_utilisateurs_delete', {'idUser': utilisateur.idUser}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.idUser) }}">
    <button class="btn">Supprimer</button>
</form>
